---
layout: project
title: project
class: page
---

<article style="margin-top: 0px;">
	<section class="container">
		<div class="row">
			<div class="col-sm-2">
				<br>
				<img src="assets/svg/logo.01.svg" alt="logo.01">
			</div>
			<div class="col-sm-10">
				<h1><span>Redemptive Developments</span><br>
					Responsive Website Design</h1>
				<h2>v 1.0</h2>
			</div>
		</div>
	</section>
	<hr>
	<section class="container">
		<div class="row">
			<div class="col-xs-6">
				<h3>Junk 4 Good</h3>
				<ul class="list-unstyled">
					<li><a href="junk.home.html">Home</a></li>
					<li><a href="junk.overview-list.html">Template &mdash; Overview List</a></li>
					<li><a href="junk.service.html">Template &mdash; Services</a></li>
					<li><a href="junk.page.html">Template &mdash; Page</a></li>
					<li><a href="junk.post.html">Template &mdash; Post</a></li>
					<li><a href="junk.locations.html">Template &mdash; Locations</a></li>
					<li><a href="junk.pricing.html">Pricing Estimator</a></li>
					<li><a href="junk.page-stripped.html">Stripped Page (Vonigo)</a></li>
				</ul>
			</div>
			<div class="col-xs-6">
				<h3>RD Main</h3>
				<ul class="list-unstyled">
					<li><a href="rd.home.html">Home</a></li>
					<li><a href="rd.service.html">Template &mdash; Service</a></li>
					<li><a href="rd.page.html">Template &mdash; Page</a></li>
				</ul>
			</div>
		</div>
	</section>
</article>
	

