
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs hidden-sm" href="http://www.junk4good.com/">
						<img src="assets/svg/logo.01.svg" alt="logo.01">
		  			</a>
		  			<a class="navbar-brand  visible-xs visible-sm" href="http://www.junk4good.com/">
						<img src="assets/svg/logo.02.svg" alt="logo.01">
		  			</a>
		  		</div>
		  		<div class="collapse navbar-collapse" id="navigation-stripped">
			  		 <ul class="nav navbar-nav navbar-right">
				        <li><a href="http://www.junk4good.com/">Back to JUNK 4 GOOD</a></li>
				     </ul>
				</div>
	
			
					<h1 class="location-stripped visible-lg">NON-PROFIT JUNK REMOVAL  <a href="tel:1-844-586-5446">1-844-JUNK-4-GOOD</a></h1>
				
		

			</div>
		</nav>
	</header>
	<div class="visible-xs visible-sm">
		<div class="btn-toolbar tool-bar-wrapper" role="toolbar" aria-label="...">
			
			<h1 class="pull-left"><a href="tel:1-844-586-5446"><span>1-844-JUNK-4-GOOD</span></a></h1>
		
		</div>
	</div>

	
