
<footer>
	<section class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<h5>Contact Us</h5>
				<p>Email: <a href="mailto:info@junk4good.com">info@junk4good.com</a><br>				
				<p>Office: <a href="tel:780-761-9636">(780) 761-9636</a></p>
				<p>16142 114 Ave.<br>
				Edmonton, AB<br>T5M 2Z5</p>
			</div>
			<div class="col-sm-4 col-md-4">
				<h5>Book Junk Removal</h5>
				<p>Call: <a href="tel:1-844-586-5446">1-844-JUNK-4-GOOD</a> or 1-844-586-5446</p>
				<p>Open: Mon &mdash; Fri, 9am  &mdash;  5pm</p>
				
			</div>
			<div class="col-sm-4 col-sm-4">
				<h5>JUNK 4 GOOD</h5>
				<p>&copy; 2015 Redemptive Services Inc. All rights reserved.</p>
			</div>
		</div>
	</section>
</footer>
</main>