.animated {
	@include animation-delay(1s);	
}

// ####################################################################################################
//
// layout styles
//
// @media (max-width: $screen-md) {} @include breakpoint ($screen-md) {}

// ####################################################################################################
body {
	background: $black;	
}

main {
	position: relative;
	width: 100%;
	//max-width: 1400px;
	background: #fff;
	margin: 0 auto;
}
article {
	position: relative;
	overflow: hidden;
	width: 100%;
	@media (min-width: $screen-md) {
    	margin-top: 100px; 
	}
	img {
		max-width: 100%;
		width: 100%;	
	}	
	background: url("../svg/skyline.01.svg") repeat-x bottom center;
	background-size: 1800px;
	padding-bottom: $spacer*5;
	.truck {
		position: absolute;
		z-index: 99;
		bottom: 0;
		left: 10%;
		width: 120px;
		height: 46px;	
	}
	.trees {
		position: absolute;
		z-index: 98;
		bottom: 2em;
		left: -40%;
		width: 1800px;
		height: 100px;	
	}
	.clouds {
		position: absolute;
		z-index: 98;
		bottom: 95px;
		left: -10%;
		width: 1800px;
		height: 100px;	
	}
}


.wp-caption, img[class*="wp-image-"]{
	// set the wp-image & caption center aligned
	margin: 10px;
	text-align:center;
	font-size: .75em;
	
		&.alignright{
		// adding wp default align right to css
		float:right !important;
			@media(max-width: $screen-xs){
			// when it is down to phone size, make container 80% viewport size and remove float.
			width:80vw !important;
			float:none !important;
			}
		}
		&.alignleft{
		// adding wp default align right to css
		float:left !important;
			@media(max-width: $screen-xs-min){
			// when it is down to phone size, make container 80% viewport size and remove float.
			width:80vw !important;
			float:none !important;
			}
		}
		&.size-medium{
			max-width: 60% !important;
			width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
			@media(max-width: $screen-xs-min){
				// at mobile size make img 90% of wp-caption container
				max-width:90% !important;
				width:auto !important;
				height:auto !important;
			}
		}
		&.size-full{
			max-width: 90% !important;
			width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
		}
		a img, img{		
		@media(max-width: $screen-xs-min){
		// at mobile size make img 100% of wp-caption container
				width:100% !important;
				height:auto !important;
		}
	}

}

.bg + article {
	margin-top: 0px; 
}
section {
	position: relative;
	padding: 1em 0 3em;

}

.sidebar {
	margin-bottom: 44px;
	margin-top: 44px;
	@media (min-width: $screen-md) {
		margin-top: 0px;
	}
	ul {
		@include list-unstyled;
		li {		
	    	border-bottom: 1px dotted $green;
	    	&:last-child {
		    	border: none;	
		    }
	    	a {
				display: block;
				padding: 11px 0;
				text-decoration: none; 
			}
		}
	}
	.well{
		// remove border bottom line from lists in wells on pricing estimator
		ul{
			li{
			border-bottom: none;

				&:before {
				content: "G";
				font-family: "PantonIcons-DLight";
				padding-right:5px;
				}
			}
		}
	}
}
.nav {
	@extend %ui-basic;
}
main > footer, section.feature {
	position: relative;
	background: #00adf3;
	background-size: 50%;
	color: #fff !important;
	overflow: hidden;
	padding-top: 7em !important;
	font-weight: 600;
	h1, h2, h3, h4, h5, h6, p {
		a {
			color: $brand-info;	
		}
	}
}
section.feature {
	padding-top: 8em !important;
	padding-bottom: 6em !important;
	margin-bottom: 2em;
	hr {
		border-color: #fff;
		border-style: dotted;	
	}
	.btn {
		color: #fff;	
	}
	.icon-block {
		display: block;
		width: 100%;
		height: 160px;
		img {
			display: table-cell;
			vertical-align: middle;
			height: 160px;
			margin: 0 auto;
			min-width: 140px;	
			max-width: 160px;
		}	
	}
	&:before {
		content: "";
		position: absolute;
		background: url("../svg/bg.01.svg") no-repeat center top;
		background-size: 200%;
		display: block;
		bottom: -20px;
		left: -40%;
		width: 150%;
		height: 120px;
	}
	&:after {
		content: "";
		position: absolute;
		background: #fff url("../svg/bg.05.svg") no-repeat 50% -5%;
		background-size: 110%;
		display: block;
		top: -15px;
		left: -5%;
		width: 110%;
		height: 100px;
	}
}
main > footer {
	position: relative;
	z-index: 2;
	margin-top: 0.5em;
	padding-top: 4em !important;
	background: $black url("../images/bg.05.jpg") no-repeat center center;
	background-size: cover;
	font-weight: 600;
	a:not([class*="btn"]) {
		color: $green;
	}
	ul {
		
		li {
			border-bottom: 1px dotted $green_dark;
			a {
				display: block;	
				padding: $spacer/4 0;
			}	
			&:last-child {
				border: none;	
			}
		}	
		
	}
	.container {
		position: relative;
		z-index: 1;	
	}
	&:after {
		@extend %full-coverage;
		content: "";
		background: rgba(#000, 0.75);
		z-index: 0;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: 3;
		//background: url("../svg/bg.02.svg") no-repeat left top;
		background-size: 200%;
		display: block;
		top: -2px;
		left: 0;
		width: 100%;
		height: 10px;
	}
	@media (max-width: $screen-md) {
		background: $black;
		//text-align: center;
		padding-top: 1em !important;
		h5 {
			margin-top: $spacer;
			a img {
				max-width: 220px;	
			}	
		}
		.nav {
			li {
				width: 49%;
				float: left;
				display: inline;
				border-bottom: 1px solid rgba($green, 0.4);
				
				a {
					text-align: left !important;
					display: block;
					
				}
				&:nth-child(2n) {
					border-left-color: transparent;
					margin-left: 2%;
					
				}
				&:last-child, &:nth-last-child(2) {
					border-bottom-color: transparent;
				}
			}	
		}	
	}
}
.bg {
	@extend %full-coverage;
	z-index: 0;	
	overflow: hidden;
	&.header {
		position: relative;
		margin-bottom: -0.5em;
		height: 240px; 
		@media (min-width: $screen-sm) {
			height: 360px; 	
		}
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right center;	
		&.hero {
		
			@media (min-width: $screen-sm) {
				margin-bottom: 1em;
				
			}
			height: 540px; 
			
			background-position: right top;
			.wrapper {
				position: absolute;
				z-index: 2;
				top: 8em;	
				left: 0;
				right: 0;
				width: 100%;
				h1, h2 {
					color: #fff;
				}
				@media (max-width: $screen-xs) {
					top: 2em;
				}
			}
			.hero-img {
				position: absolute;
				//z-index: 9999;
				width: 50%;
				min-width: 700px;
				max-width: 800px;
				bottom: 0;
				right: 5%;	
				@media (max-width: $screen-md) {
					right: -250px;	
				}
				@media (max-width: $screen-xs) {
					right: -400px;
					
				}
				@include animation-delay(1s);
				&:nth-child(2) {
					@include animation-delay(1.5s);
				}
				&:nth-child(3) {
					@include animation-delay(2s);
				}
			}
			&:before {
				
				background: url("../svg/bg.07.svg") no-repeat 50% 520px;
				background-size: 105%;
				bottom: -1px;
				top: 0;
				height: 100%;
			
			}
		}
		&:before {
				@media (min-width: $screen-sm) {
					content: "";
				}
				position: absolute;
				z-index: 99999;
				background: url("../svg/bg.07.svg") no-repeat 50% 260px;
				background-size: 105%;
				display: block;
				bottom: -1px;
				top: 90px;
				left: 0;
				width: 100%;
				height: 360px;
		}
	}
}
.cta{
	border-bottom: 5px solid #00adf3 !important;
}

// ####################################################################################################
//
// bootstrap
//
// ####################################################################################################

.navbar-default {
	min-height: 144px !important;
	border: 0px;
	z-index: 999;
	padding: 20px $navbar-padding-horizontal 0 0;
	width: auto;
	@media (max-width: $screen-md) {
		min-height: 65px !important;
		padding: 12px 12px 12px 12px;
		.container {
			max-width: 100%;	
			width: 100%;
		}
		.navbar-brand {
			padding: 0;
			> img {
				display: block;
				width: 180px !important;
				margin-top: 4px;
			}
		}
	}
	.msg {
		font-size: em(18px);
		font-weight: 700;
		text-transform: uppercase;	
		color: #fff;
		padding-right: $padding-base-horizontal;
		@media (max-width: $screen-md) {
			padding-right: $padding-base-horizontal/2;
		}
	}
	@media (min-width: $screen-md) {
		//margin-bottom: 122px;
		&:after {
			position: absolute;
			z-index: -1;
			top: 100%;
			width: 100%;
			height: 122px;
			content: "";
			background: url("../svg/bg.03.svg") no-repeat 50% 105%;
			background-size: 110%;
			overflow: hidden;
		}
	}
	
}
.navbar-nav {
	color: #fff;
	margin-top: 30px;
	@media (max-width: $screen-md) {
		margin-top: 60px;
	}
}
.dropdown:hover .dropdown-menu {
	// match with theme/app js (jquery.main.js)
	@media (min-width: $screen-sm-min) {
		display: block !important;
	}
}
body{
	.tool-bar-wrapper {
		padding: 4px;
		@media (min-width: $screen-md) {
			margin-top: 11px;
		}
		h1 {
			position: relative;
			font-size: em(29px);
			font-weight: 700;
			text-transform: uppercase;
			margin: 0px 0 0 0px;
			padding: 10px 0 0 0px;
			color: $black;
			a {
				//text-decoration: underline !important;
				color: $black;
			}
			&.phone {
				svg {
					fill: $black;
					height: 38px;
					position: absolute;
					left: 12px;	
					top: 3px;
				}	
			}
		}
		@media (max-width: $screen-md) {
			background: $green_dark;
			padding: 4px 4px 4px 12px;
			display: block;
			margin-left: 0 !important;
			* a, h1 a {
				color: #fff;	
			}	
		}
	}
	.tool-bar {
		background: $green;
		padding: 4px;
		border-radius: 2px;
		float: right !important;
		position: relative;
		z-index: 999;
		.location {
			font-size: 18px;
			position: absolute;
			top: 9px;
			left: -130%;
			//right: $padding-base-horizontal;	
			width: auto;
			color: $green;
			* {
				color: #fff !important;	
			}
		}
		.location-stripped {
			font-size: 18px;
			position: absolute;
			top: 9px;
			left: -195%;
			//right: $padding-base-horizontal;	
			width: auto;
			color: $green;
			* {
				color: #fff !important;	
			}
		}
		.btn {
			//background: $green_dark;	
			&.btn-warning {
					background: transparent;
					padding-left: 44px;
					span {
						position: absolute;
						left: 8px;
						top: 0;
						text-transform: none !important;
							
					}
			}
			&.btn-primary {
				background-color: $green_dark !important;
				//@include animation(pulse 2s infinite ease-in-out);
			}
		}
	}	
}

.location-stripped{
			display: block;
			font-size: 18px;
			font-weight: 700;
			text-align: right;
			color: $green;
			margin:0 15px 0 -15px;
			* {
				color: #fff !important;	
				text-decoration: underline;
			}
		}

.btn {
	font-size: 14px !important;
	line-height: 20px;
	text-transform: uppercase;	
	font-weight: 700;
	border-color: transparent !important;
	text-decoration: none !important;
	padding-top: 15px;
}
.breadcrumb {
	position: relative;
	z-index: 999;
	@extend %ui-basic;
	font-size: 12px;
	padding: 10px 0 0 !important;
	a {
		color: $green !important;	
	}
	li {
		&:before {
			content: "u";
			font-family: "PantonIcons-DLight";
			padding: 0 6px;
			text-transform: lowercase;
		}	
		&:first-child {
			margin-left: 0;
			&:before {
				content: "";
				padding: 0;	
			}	
		}
	}
}	
.panel {
	margin: 1px 0 0 0 !important;
	border: none !important;
	
	h6 a {
		position: relative;
		color: #fff !important;
		display: block;
		&:after {
			position: absolute;
			right: 0px;
			top: -10px;
			content: "q";
			font-family: "PantonIcons-DLight"; 
			font-size: 24px;
			font-weight: normal;
		}
		&:not([class*="collapsed"]) {
			&:after {
				content: "r";	
			}	
		}
	}
	
}
// ####################################################################################################
//
// icons
//
// ####################################################################################################
.rdcons {
	font-family: "PantonIcons-DLight";
	font-size: 2em;
	line-height: 1.5em;
	text-transform: none;
	font-weight: normal !important;
	&.rdbtn {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin-right: 5px;
	}
	&.rdcirc {
		position: relative;
		border: 2px solid #fff;
		width: 40px;
		height: 40px;
		display: inline-block;
		text-align: center;
		border-radius: 100%;
		font-size: 1.5em;	
		line-height: 38px;
		top: 4px;
		margin-right: 5px;
		font-weight: bold !important;
		
	}
}
.icon-block {
	height: 75px;
	@media (min-width: $screen-sm) {
		height: 144px
	}
	svg {
		height: 75px;
		@media (min-width: $screen-sm) {
			height: 144px
		}
		width: auto;	
		fill: $black;
		* {
			fill: $black;
		}
	}	
	&.alt {
		height: auto;
		svg {
			height: auto;	
		}
			
	}
}

.list-group {
	.rdcons {
		margin-left: -12px;
		margin-right: 12px;	
	}	
}
// ####################################################################################################
//
// jesse
//
// ####################################################################################################

article a {
	text-decoration: underline;	
	color: $green;
}
.graph {
	position: relative;
	height: ($spacer * 3) + 1px;
	margin-bottom: 1em;
	.bar {
		position: absolute;
		top: 0;
		left: 0;
		height: $spacer * 1.5;
		background: lighten($green, 15%) url("../svg/dust.01.svg") repeat center bottom;
		width: 90%;	
		&:after {
			@extend %full-coverage;
			content: "";
			width: 80%;
			background: $green;	
		}
		&:last-child {
			top: ($spacer * 1.5) + 1px;
			width: 80%;
			background-color: lighten($blue, 15%);
			&:after {
				width: 50%;
				background: $blue;	
			}
		}
	}	
}

main > footer, .banner {
	p {
		a {
			color: #fff;
			text-decoration: underline;
		}	
	}	
}
// ####################################################################################################
//
// RD specific (multi site)
//
// ####################################################################################################
body.rd {
	.navbar-default {
		
		background: $green_dark;
		@media (min-width: $screen-md) {
			&:after {
				background-image: url("../svg/bg.08.svg");
			}
		}
		@media (max-width: $screen-md){
			.navbar-brand {
				padding: 0;
				> img {
					min-width: 0 !important;
					width: 43px !important;
					height: 40px !important;

				}
			}
		}
	}
	.bg {

		&.hero {
			// top: 154px; 
		}
	}
	.tool-bar {	
		> .btn, .btn-group {
			border-left: 1px solid $green_dark !important;
			&:first-child {
				border-left: 0px !important;	
			}	
		}
	}

}

